---
########
# install oc
- name: Download oc client
  ansible.builtin.get_url:
    url: "{{ csr_autoapprove_oc_binary_url }}"
    dest: /tmp/oc.tar.gz
    mode: '0777'
  tags:
    - bastion
    - bastion.oc

- name: Extract oc client
  ansible.builtin.unarchive:
    src: /tmp/oc.tar.gz
    dest: /tmp/
    remote_src: true
  tags:
    - bastion
    - bastion.oc

- name: Copy oc binary to /usr/local/bin
  ansible.builtin.copy:
    src: /tmp/oc
    dest: /usr/local/bin/oc
    mode: "0777"
    remote_src: true
  tags:
    - bastion
    - bastion.oc

- name: Reload Netconfig for DNS
  become: true
  ansible.builtin.command:
    cmd: netplan apply
  changed_when: true

########
# Wait for pending csrs

- name: Wait for pending csr requests
  environment:
    KUBECONFIG: /home/ansible/openshift/config/auth/kubeconfig
  ansible.builtin.command:
    cmd: oc get csr | grep -i pending | wc -l
  async: 600
  poll: 10
  register: csr_autoapprove_pending_csrs

- name: Wait for pending csr requests
  async_status:
    jid: "{{ csr_autoapprove_pending_csrs }}"
  until: csr_autoapprove_pending_csrs.result < 3

    

########
# CSR Autoapprove
# - name: CSR Autoapprove
#   environment:
#     KUBECONFIG: /home/ansible/openshift/config/auth/kubeconfig
#   ansible.builtin.command:
#     cmd: |
#       oc get csr | grep -i pending | cut -f 1 -d ' ' | xargs -n 1 oc adm certificate approve
#   changed_when: true
    
# - name: CSR Autoapprove
#   environment:
#     KUBECONFIG: /home/ansible/openshift/config/auth/kubeconfig
#   ansible.builtin.command:
#     cmd: |
#       oc get csr | grep -i pending | cut -f 1 -d ' ' | xargs -n 1 oc adm certificate approve
#   changed_when: true
...
